<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>
<script>
function searchEquipment()
{

  var id = document.getElementById('equipment_id').value;
  var tourl = extractHostname(window.location.href);
  var urlredirect = "http://"+tourl+"/view/equipment/"+id;
  // if(id)
  //   window.location.href=urlredirect;
  if(isNaN(id))
  {
    document.getElementById("equipment_id").style.color = 'red';
    
    return false;
  }
  else {
    window.location.href=urlredirect;
  }
  return false;
}

function ListEquipment()
{

  var id = document.getElementById('search_no').value;
  var tourl = extractHostname(window.location.href);
  var urlredirect = "http://"+tourl+"/list/equipment/"+id;
  if(isNaN(id))
  {
    document.getElementById("search_no").style.color = 'red';
    return false;
  }
  else {
    window.location.href=urlredirect;
  }

  return false;
}

function extractHostname(url) {
    var hostname;
    //find & remove protocol (http, ftp, etc.) and get hostname

    if (url.indexOf("//") > -1) {
        hostname = url.split('/')[2];
    }
    else {
        hostname = url.split('/')[0];
    }

//alert(hostname);
    return hostname;
}
</script>
<body>
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" ><a href="/">Equipments</a></span>
        <!-- <form class="add-player-form" action="/edit/" method="get" enctype="multipart/form-data"> -->
          <input type="text" name="equipment_id" id="equipment_id"  placeholder="Enter Equipment Number">
          <button type="button" class="btn btn-primary float-right" onclick="searchEquipment();">Search</button>
        <!-- </form> -->

          <input type="text" name="search_no" id="search_no"  placeholder="Enter no of eqpmt to list">
          <button type="button" class="btn btn-primary float-right" onclick="ListEquipment();">List</button>


        <a class="float-right" href="/add" title="Add a New Player">Add a Equipment</a>
    </nav>
