<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">

                <div class="form-group col-md-4">
                    <input type="number" class="form-control" name="equipment_id" id="equipment_id" placeholder="Equipment Number" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" required>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <input type="date" class="form-control" name="contract_start_date" id="contract_start_date" placeholder="contract_end_date" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="date" class="form-control" name="contract_end_date" id="contract_end_date" placeholder="contract_end_date" required>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <select id="status" name="status" class="form-control" required>
                        <option selected disabled>Choose position</option>
                        <option value="Running">Running</option>
                        <option value="Stopped">Stopped</option>

                    </select>
                </div>

            </div>
            <button type="submit" class="btn btn-primary float-right">Add Equipment</button>
        </form>
    </div>
</div>
</body>
</html>
