<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (player) { %>
      <table class="table table-hovered">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Equipment ID</th>
                  <th scope="col">Address</th>
                  <th scope="col">Status</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <!-- <th scope="col">Action</th> -->
              </tr>
          </thead>
          <tbody>

                   <tr>
                      <th scope="row"><%= player.id %></th>

                      <td><%= player.equipment_id %></td>
                      <td><%= player.address %></td>
                      <td><%= player.status %></td>
                      <td><%= player.contract_start_date %></td>
                      <td><%= player.contract_end_date %></td>
                      <!-- <td><a href="edit/<%= player.id %>">Edit</a></td> -->

                  </tr>

          </tbody>
      </table>
        <!-- <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">Address</label>
                    <input type="text" class="form-control" name="address" id="address" value="<%= player.address %>" required>
                </div>

                <div class="form-group col-md-4">
                    <label for="username">Equipment id</label>
                    <input type="number" class="form-control" name="equipment_id" id="equipment_id" value="<%= player.equipment_id %>" required disabled title="Username cannot be edited.">
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="position">Status</label>
                    <select id="status" name="status" class="form-control" required>
                        <option selected><%= player.status %></option>
                        <option value="Running">Running</option>
                        <option value="Stopped">Stopped</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update Equipment</button>
        </form> -->
    <% } else { %>
        <p class="text-center">Equipment Not Found. Go <a href="/add">here</a> to add Equipment.</p>
    <% } %>
</div>
</div>
</body>
</html>
