<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (players.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Equipment ID</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% players.forEach((player, index) => { %>
                         <tr>
                            <th scope="row"><%= player.id %></th>

                            <td><%= player.equipment_id %></td>
                            <td><%= player.address %></td>
                            <td><%= player.status %></td>
                            <td><%= player.contract_start_date %></td>
                            <td><%= player.contract_end_date %></td>
                            <td><a href="/view/equipment/<%= player.equipment_id %>">VIew</a></td>

                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No Equipments found. Go <a href="/add" >here</a> to add players.</p>
        <% } %>
    </div>
</div>
</body>
</html>
