<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <!-- <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" required>
                </div> -->
                <div class="form-group col-md-4">
                    <input type="number" class="form-control" name="equipment_id" id="equipment_id" placeholder="Equipment Number" required>
                </div>

            </div>

            <button type="submit" class="btn btn-primary float-right">Search Equipment</button>
        </form>
    </div>
</div>
</body>
</html>
